$primary: #2254aa;
$secondary: #18427d;
$accent: #cb1d1d;
$dark: #00348d;
$darkComplimentary: #c192f0;
$bg1: #f0f4f9;
$bg2: #e6ecf1;
$lightPrimary: #2566c1;
$greyPrimary: #d5e3f6;
$green: #00b32a;

$bg: #f6fafd;
$line: #e4e8eb;

$primarylighter: #02bc6b;
$primarylight: #028e37;

$dark: #8d0000;
$darkComplimentary: #c192f0;
$bg1: #f0f4f9;
$bg2: #e6ecf1;
$lightPrimary: #2596be;
$green: #00b32a;
$tertiarylight: #ebfe80;
