@import "./1_variables";
.header {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  //position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  transition: 300ms ease;

  .container {
    max-width: 85vw;
    width: 100%;
    height: fit-content;
    margin: auto;
    display: grid;
    padding: 5px 0 5px 0;
    grid-template-columns: 1fr auto auto;

    .logo {
      width: 80%;
      display: grid;
      grid-template-columns: auto 1fr;
      cursor: pointer;

      .lg {
        max-height: 40px;
        height: 100%;
        object-fit: contain;
      }

      h2 {
        color: white;
        font-size: large;
        line-height: 32px;
        margin-left: 10px;
        text-shadow: 1px 1px 2px black;
      }
    }

    .nav {
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: 5px;
      color: rgb(249, 25, 25);
      align-items: center;

      h4 {
        font-weight: 400;
        font-size: small;
        text-align: center;
        cursor: pointer;
        padding-bottom: 5px;
        transition: 300ms;
        min-width: 100px;
      }

      h4:hover {
        color: $accent;
      }

      .navlink {
        color: blueviolet;
        cursor: pointer;
      }

      .underline {
        padding-bottom: 10px;
        border-bottom: 1px solid $accent;
      }
    }

    .nav2 {
      width: fit-content;
      margin-left: auto;
      .loginOut {
        margin-left: 20px;
        span {
          line-height: 12px;
        }
        .userOptions {
          position: absolute;
          visibility: hidden;
          background-color: whitesmoke;
          width: 150px;
          color: black;

          h5 {
            line-height: 24px;
            border-bottom: 1px solid gray;
            padding-left: 5px;
            cursor: pointer;
          }
          h5:hover {
            background-color: #030092;
            color: white;
          }
        }
        .showSettings {
          visibility: visible;
        }
      }

      button {
        position: relative;
        display: flex;
        justify-content: center;
        background-position: 0 0;
        color: $tertiarylight;
        line-height: 32px;
        border-radius: 12px;
        height: 32px;
        background: none;
        outline: none;
        border: none;
        min-width: 100px;
        font-size: 1rem;
        cursor: pointer;
        z-index: 2;
        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          background: linear-gradient(120deg, $secondary 0%, $accent 100%);
          z-index: -1;
        }
        &::after {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          background-color: red;
          z-index: -1;
          opacity: 0;
          transition: 300ms ease-in-out;
        }
        &:hover::after {
          opacity: 1;
        }
      }
    }
  }

  .fa-bars {
    display: none !important;
    width: fit-content;
    margin-left: auto;
    display: block;
  }

//   @include maxwidth(mobile) {
//     .container {
//       grid-template-columns: 1fr auto !important;
//     }

//     .nav,
//     .nav2 {
//       display: none !important;
//     }

//     .fa-bars {
//       display: block !important;
//       color: white;
//       margin: auto;
//     }

//     .fa-bars:hover {
//       color: $secondarylight;
//     }
//   }

//   @include maxwidth(tablet) {
//     width: 100vw !important;
//     .logo {
//       img {
//         height: 32px;
//         display: block;
//         cursor: pointer;
//         margin-top: auto;
//         margin-bottom: auto;
//       }
//     }

//     .nav,
//     .nav2 {
//       display: none !important;
//     }

//     .fa-bars {
//       display: block !important;
//       color: white;
//       margin: auto;
//       // background: black;
//       backdrop-filter: blur(4px) saturate(150%);
//     }

//     .fa-bars:hover {
//       color: $secondarylight;
//     }
//   }
}
